<h1>Sign In</h1>

<%= link_to "Sign up!", new_band_url %>
<form action="<%= session_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label>Email
      <input type="text" name="band[email]">
    </label>
    <br>
    <br>

    <label>Password
      <input type="password" name="band[password]">
    </label>
    <br>

    <input type="submit">
</form>
